<div class='content row'>
  <div class='twelve columns'>
    <h1><%= @post.title %></h3>
    <div class="subtitle"><%= get_date(@post.display_date) %></div>
    <%= raw @post.content %>
  </div>
</div>
