<div class='content row'>
  <div class='twelve columns'>
    <div class="post-title"><%= @post.title %></div>
    <div class="subtitle"><%= get_date(@post.display_date) %></div>
    <div class="post-content">
      <%= raw @post.content %>
    </div>
  </div>
</div>
