<!DOCTYPE html>
<html lang="en">
<html>
<head>
  <!-- meta -->
  <meta charset='utf-8'>
  <meta name="description" content="A blog about software, mostly.">
  <meta name="author" content="Rory Stephenson">

  <!-- Basic page data -->
  <title><%= "#{title}" %></title>

  <!-- Mobile specific meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>

  <!-- CSS -->
  <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">

  <!-- Styles -->
  <style type='text/css'>
    h1, h2, h3, h4, h5, h6, .subtitle{
      font-family: 'Open Sans', sans-serif;
    }

    body{
      background-color: #FDFDFD;
    }

    .post-title{
      font-family: 'Open Sans', sans-serif;
      font-size: 2em;
    }

    .subtitle{
      font-family: 'Open Sans', sans-serif;
      font-size: 1.1em;
    }

    .post-content{
      margin-top: 1em;
      font-family: 'Open Sans', sans-serif;
      font-size: 1.2em;
      line-height: 1.7em;
      word-spacing: 0.18em;
      color: #333;
    }

    .actions{
      float: right;
    }

    .actions a{
      vertical-align: bottom;
    }
    .actions form{
      display: inline-block;
      vertical-align: bottom;
      margin-bottom: 0;
    }

    .header {
      font-family: 'Lato';
      font-weight: 400;
      font-size: 3em;
      color: #333B43;
      margin-top: 0.2em;
      margin-bottom: 0.2em;
    }

    .container{
      max-width: 55em;
    }

    a, a:active, a:hover, a:visited{
      text-decoration: none;
      color: inherit;
    }

  </style>
</head>
<body>
<div class='container'>

  <div class='row col-header'>
    <div class='header'>
      <%= link "Rory Stephenson", to: post_path(@conn, :index) %>
    </div>
  </div>

  <div class='row'>
    <%= @inner %>
  </div>

</div>

<script src="<%= static_path(@conn, "/js/app.js") %>"></script>

<%= if Mix.env == :prod do %>
  <!-- Google Analytics -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-68958668-1', 'auto');
    ga('send', 'pageview');

  </script>
<%= end %>
</body>
</html>
