<!DOCTYPE html>
<html lang="en">
<html>
<head>
  <!-- meta -->
  <meta charset='utf-8'>
  <meta name="description" content="A blog about slacklining and coding">
  <meta name="author" content="Rory Stephenson">

  <!-- Basic page data -->
  <title><%= "#{title}" %></title>

  <!-- Mobile specific meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>

  <!-- CSS -->
  <link rel="stylesheet" href="<%= static_path(@conn, "/css/skeleton/normalize.css") %>">
  <link rel="stylesheet" href="<%= static_path(@conn, "/css/skeleton/skeleton.css") %>">

  <!-- Styles -->
  <style type='text/css'>
    h1, h2, h3, h4, h5, h6, .subtitle{
      font-family: 'Open Sans', sans-serif;
    }

    .post-title{
      font-family: 'Open Sans', sans-serif;
      font-size: 2em;
    }

    .subtitle{
      font-family: 'Open Sans', sans-serif;
      font-size: 1.1em;
    }

    .post-content{
      margin-top: 1em;
      font-family: 'Open Sans', sans-serif;
      font-size: 1.2em;
      line-height: 1.7em;
      word-spacing: 0.18em;
    }

    .actions{
      float: right;
    }

    .actions a{
      vertical-align: bottom;
    }
    .actions form{
      display: inline-block;
      vertical-align: bottom;
      margin-bottom: 0;
    }

    .header {
      font-family: 'Lato';
      font-weight: 400;
      font-size: 3em;
      color: #333B43;
      margin-top: 0.2em;
      margin-bottom: 0.2em;
    }

    .container{
      max-width: 55em;
    }

    a, a:active, a:hover, a:visited{
      text-decoration: none;
      color: inherit;
    }

  </style>
</head>
<body>
<div class='container'>

  <div class='row col-header'>
    <div class='header'>
      <span class="lightgrey">Rory Stephenson</span>
    </div>
  </div>

  <div class='row'>
    <%= @inner %>
  </div>

</div>

<script src="<%= static_path(@conn, "/js/app.js") %>"></script>
</body>
</html>

