$content_font: 'Open Sans';
$header_font:  'Lato';

$header_colour: #333B43;

body{
  background-color: #FDFDFD;
  font-family: $content_font;
}

a, a:active, a:hover, a:visited{
  text-decoration: none;
  color: inherit;
}
.container{ max-width: 55em; }

.post-title{ font-size: 2em; }
.subtitle{ font-size: 1.1em; }
.post-content{
  margin-top: 1em;
  font-size: 1.2em;
  line-height: 1.7em;
  word-spacing: 0.18em;
  color: #333;
}

.actions{
  float: right;
}

.actions form{
  display: inline-block;
  vertical-align: bottom;
  margin-bottom: 0;
}

.header {
  font-family: $header_font;
  font-weight: 400;
  font-size: 3em;
  color: $header_colour;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}
